################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FizzBuzz/v14
/FizzBuzz/bin/Debug
/FizzBuzz/obj/Debug
